<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Добавление товара</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body> Введите данные о товаре

<form action="#" th:method="post">
    <p>Название: <input type="text" name="name"  /></p>
    <p>Описание: <input type="text" name="description"  /></p>
    <p>Цена: <input type="text" name="cost"  /></p>
    <p><input type="submit" value="Добавить" /> </p>
</form>
</body>
</html>